* {
    margin: 0;
}
.column {
    height: 100vh;
    width: 50vw;
    display: inline-block;
}
.left {
    float: left;
    overflow: scroll;
}
.right {
    float: right;
    position: fixed;
}
.wrapper {
    padding: 20px;
}
.rectangle {
    padding: 100px;
}
.one {
   background-color: #006;
}
.two {
    background-color: #33f;
}
.three {
    background-color: #fff;
}
h3 {
    margin: 15px 0;
}
.thickSeparator {
    height: 1px;
    border: 1px solid #000;
    background-color: #000;
    margin: 28px 0;
}
.thinSeparator {
    margin: 20px 0;
}
.subtitle {
    font-weight: 900;
}
.content {
    padding-left: 15px;
}